/* .o-scroll_section.change-position {
    position: absolute;
    left: 0;
    margin-left: 2880px;
    top: 0;
    z-index: 99999;
} */
.absolute-div {
    height: 100%;
    align-items: center;
    display: grid;
    justify-content: center;
}.circle-wrapper{
    width: 100%;
    height: 100vh;
    background: #1E1E1E;
    margin-top: 20px;
}
.main-wrapper {
  position: relative;
}
.circle {
  transition-timing-function: linear;
  position: relative;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  overflow: hidden;
}

.middle-img {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: 53%;
  height: 53%;

}

.middle-img img {
  border-radius: 50%;
  width: 100%;
  height: 100%;

}


.triger-img{
    background: #D3D3D3;
    height: 100%;
    width: 100%;
    z-index: 10;
     cursor: url(https://d2p8kxfsucab5j.cloudfront.net/hand-small.png) 30 40,auto;
  cursor: -webkit-image-set(url("https://d2p8kxfsucab5j.cloudfront.net/hand-small.png") 1x, url("https://d2p8kxfsucab5j.cloudfront.net/hand.png") 2x) 30 40,auto;

}
.same-style-round {
  position: absolute;
  height: auto;
  width: 200px;
  z-index: 999;
  color: #fff;
  margin-right: 20px;
  left: 0;
  top: 0;
  display: inline-block;
  font-size: 12px;
}

.round-text1 {
  top: -60px;
  left: 250px;
}

.round-text2 {
  left: auto;
  right: -61px;
  top: -45px;
  transform: rotate(0deg);
}

.round-text3 {
  top: 69px;
  left: auto;
  right: -176px;
}

.round-text4 {
  left: auto;
  right: -230px;
  top: 168px;
}

.round-text5 {
  left: auto;
  right: -245px;
  top: 270px;
}

.round-text8 {
  left: auto;
  right: -43px;
  top: auto;
  bottom: -54px;
}

.round-text9 {
  top: auto;
  left: auto;
  right: 137px;
  bottom: -58px;
}

.round-text10 {
  top: auto;
  left: 6px;
  right: auto;
  bottom: -22px;
}

.round-text11 {
  left: -28px;
  right: auto;
  top: auto;
  bottom: 68px;
}

.same-style-round h4 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0;
  white-space: normal;
}
.same-style-round p{
    white-space: normal;
}
.same-style-round a {
  font-size: 12px;
  white-space: normal;
}

.round-text6 {
  left: auto;
  top: auto;
  right: -223px;
  bottom: 137px;
}

.round-text7 {
  top: auto;
  left: auto;
  right: -163px;
  bottom: 60px;
}

.round-text12 {
  top: auto;
  bottom: 184px;
  left: -143px;
  right: auto;
}

.round-text13 {
  top: 272px;
  left: -162px;
  right: auto;
}

.round-text14 {
  top: 166px;
  left: -100px;
  right: auto;
}

.round-text15 {
  top: 49px;
  left: -77px;
  right: auto;
}

.round-text16 {
  top: -28px;
  left: 71px;
  right: auto;
}

.round-text17 {
  top: auto;
  left: 15px;
  bottom: 60px;
}

.round-text18 {
  top: auto;
  left: -83px;
  bottom: 102px;
}

.round-text19 {
  top: auto;
  left: -62px;
  bottom: 158px;
}

.round-text20 {
  top: auto;
  left: -84px;
  bottom: 215px;
}

.round-text21 {
  left: -107px;
  top: 283px;
}

.round-text22 {
  top: 230px;
  left: -85px;
}

.round-text23 {left: -67px;top: 174px;}

.round-text24 {
  top: 123px;
  left: -25px;
}

.round-text25 {
  left: -50px;
  top: 73px;
}
.round-text26 {
    left: 35px;
    top: 25px;
}

.round-text27 {
    left: 62px;
    top: -16px;
}

.round-text28 {
    top: -52px;
    left: 169px;
}
.main-wrapper-overly {
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
    background: #000000b8;
    border-radius: 50%;
    display: grid;
    align-items: center;
    z-index: 9999;
}

.main-wrapper-overly-text p {
    white-space: normal;
    font-size: 16px;
    margin: 0px;
}

.main-wrapper-overly-text a {
    white-space: normal;
    text-align: center;
    padding: 8px 14px;
    font-size: 16px;
    border: 2px solid #d3d3d3;
    border-radius: 20px;
    background: #d3d3d3;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 15px;
    display: inline-block;
}
.main-wrapper-overly-text a:hover {
    color: #bb2525;
}

.main-wrapper-img {
    display: flex;
    margin-top: -236px;
    margin-left: 68px;
}
img#hand-sign {
    height: 80px;
    width: 53px;
}

img#target-img {
    height: 119px;
}


@media screen and (max-width: 1400px) , screen and (max-height: 750px) {
.circle {
  width: 450px;
  height: 450px;
}
.same-style-round h4 {
  font-size: 13px;
}
.round-text1 {
  top: -53px;
  left: 181px;
}
.round-text2 {
  left: auto;
  right: -101px;
  top: -45px;
  transform: rotate(0deg);
}
.round-text3 {
  top: 53px;
  left: auto;
  right: -192px;
}
.round-text4 {
  left: auto;
  right: -234px;
  top: 129px;
}
.round-text5 {
  left: auto;
  right: -245px;
  top: 197px;
}
.round-text9 {
  top: auto;
  left: auto;
  right: 44px;
  bottom: -48px;
}
.round-text8 {
  left: auto;
  right: -103px;
  top: auto;
  bottom: -45px;
}
.round-text7 {
  top: auto;
  left: auto;
  right: -196px;
  bottom: 50px;
}
.round-text6 {
  left: auto;
  top: auto;
  right: -232px;
  bottom: 113px;
}
.round-text10 {
  top: auto;
  left: 6px;
  right: auto;
  bottom: -28px;
}
.round-text11 {
  left: -44px;
  right: auto;
  top: auto;
  bottom: 52px;
}
.round-text13 {
  top: 215px;
  left: -139px;
  right: auto;
}
.round-text12 {
  top: auto;
  bottom: 122px;
  left: -118px;
  right: auto;
}
.round-text14 {
  top: 138px;
  left: -102px;
  right: auto;
}
.round-text15 {
  top: 42px;
  left: -76px;
  right: auto;
}
.round-text16 {
  top: -20px;
  left: 37px;
  right: auto;
}
img#target-img {
  height: 95px;
}
img#hand-sign {
  height: 46px;
  width: 30px;
  margin-top: 22px;
}
}

@media (max-width: 999px){
  .same-style-round{
  display: none;
  }
  section.c-home-intro.design-process-yellow-box-wrapper {
    width: 100%;
    height: 100%;
    background: #1E1E1E;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    margin-top: 45px;
}
.design-process-yellow-box-top p {
    font-size: 16px;
    line-height: 24px;
}
.design-process-yellow-box-top h4 {
    font-size: 35px;
    padding-bottom: 20px;

}
.main-wrapper-overly-text {
    margin-top: 48px;
}
.main-wrapper-img {
    display: flex;
    margin-top: -190px;
    margin-left: 59px;
}
.circle{
  width: 550px;
  height: 550px;
}
.circle-wrapper{
    width: 100%;
    height: 100%;
    background: #1E1E1E;
    padding: 60px 0px;
}
}

@media (max-width: 699px){
  .circle {
  width: 300px;
  height: 300px;
}
.circle-wrapper{
    width: 100%;
    height: 100%;
    background: #1E1E1E;
    padding: 60px 0px;
}
.main-wrapper-overly-text p{
  font-size: 12px;
}

.main-wrapper-overly-text a {
    padding: 5px 8px;
    font-size: 12px;
    }
    img#target-img{
      height: 60px;
    }
    .main-wrapper-img {
    display: flex;
    margin-top: -129px;
        margin-left: 24px;
  }
  
    .main-wrapper-overly-text{
      margin-top: 10px;
    }
}
.yello-bottom{
  display: none;
}
.yello-top{
  display: none;
}
/* 
 .main-wrapper:after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 108%;
    height: 108%;
    border: 1px solid red;
    content: "";
    border-radius: 50%;
    transform: translate(-50%,-50%);
}

.main-wrapper:before {
    width: 100%;
    height: 5px;
    position: absolute;
    content: "";
    background: lime;
    /* transform: rotate(-90deg); 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
}   */